@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

body {
	position: relative;
	font-family: sans-serif;
	overflow: hidden;
	top: 0;
	padding: 0;
	margin: 0;
}

#container {
	height: 100vh;
	display: none;
}

#radio-container {
	position: absolute;
	bottom: -56vh;
	right: 15vh;
}

.radio {
	width: 18vh;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#submit,
#disconnect {
	position: absolute;
	width: 2.2vh;
	height: 3.2vh;
	bottom: 14vh;
	border-radius: 5px;
	transition: all 0.1s linear;
}

#toggleClicks {
  position: absolute;
  width: 4vh;
  height: 3.5vh;
  bottom: 37.5vh;
  border-radius: 5px;
  transition: all 0.1s linear;
  left: 7.5vh;
}

#submit {
	left: 4.2vh;
}

#disconnect {
	right: 3.2vh;
}

#volumeDown,
#volumeUp {
	bottom: 18vh;
}

#volumeDown {
	right: 3.1vh;
}

#volumeUp {
	left: 4.0vh;
}

#increaseradiochannel,
#decreaseradiochannel {
	left: 0.0vh;
}

#increaseradiochannel {
	bottom: 30vh;
}

#decreaseradiochannel {
	bottom: 18vh;
}

#volumeDown,
#volumeUp,
#increaseradiochannel,
#decreaseradiochannel {
	position: absolute;
	width: 3.3vh;
	height: 1.9vh;
	border-radius: 5px;
	transition: all 0.1s linear;
}

#powerButton {
	position: absolute;
    bottom: 37.5vh;
    left: 12.5vh;
	width: 3.3vh;
	height: 5vh;
	border-radius: 5px;
	transition: all 0.1s linear;
}

#volumeUp:hover,
#volumeDown:hover,
#disconnect:hover,
#submit:hover,
#powerButton:hover,
#decreaseradiochannel:hover,
#increaseradiochannel:hover,
#toggleClicks:hover {
	background: rgba(255, 255, 255, 0.25);
}

.onoff button {
	padding: 40px 55px;
	opacity: .0;
}

.channel {
    display: none;
	position: absolute;
	bottom: 24vh;
	left: 5.3vh;
	background: none;
}

::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.5);
}

.channel span {
	text-align: center;
	color: rgba(0, 0, 0, 0.75);
}

.channel input {
	text-align: center;
	border: none;
	font-size: 25px;
	background: none;
	outline: none;
	font-family: 'Fira Code', monospace;
	width: 5vw;
}

::-webkit-inner-spin-button {
	display: none;
}